<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% block title %}User accounts demo{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<link rel="stylesheet" type="text/css" href="css/style.css">

  </head>

  <body>

  <div class="content">
    {% block maincontent %}

    {% endblock %}
  </div>


    <nav class="navbar-fixed-bottom" role="navigation">
      <hr/>
      <p>
        {% if not user %}
          <a href="/signup">Sign Up</a>
        {% else %}
          Logged in as <span style="background-color: OldLace">{{ user.name }}</span> | <a href="/logout">Logout</a>
        {% endif %}
        <p class="copy">&copy;<a href="http://vikashkumar.me">Vikash Kumar</a></p>
      </p>
      </nav>

<!-- Latest compiled and minified JavaScript -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  </body>
</html>
